/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */
body {
    background-color: #F2EFDF;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.start-area .game-area {
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.hidden {
    display: none;
}

/* Button Styling */

button {
  text-transform: uppercase;
}

#click-button {
  width: 220px;
  height: 60px;
}

.answer-buttons {
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

.category-buttons {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* Modal Styling */
/* Opening the Modal Span */
#open-instructions {

}

/* Modal Background */
#instructions-modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* Position left, right, float ?*/
  width: 80vw;
  height: 60vh;
  max-height: 450px;
  max-width: 830px;
  margin-left: 8%;
  /* overflow: auto; Remember for possible scrolling if needed */
  /* Choose the color and opacity */ 
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content / Box */
#instructions-modal-content {
  /* background-color ? */
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 75%;
}

/* Closing the Modal Span */
#close-instructions {
  color: #aaa;
  float: right;
}