/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */
body {
  background-color: #F2EFDF;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading {
  letter-spacing: 1px;
}

.hidden {
  display: none;
}

.start-area .game-area {
  box-sizing: border-box;
  width: 85%;
  height: 65vh;
  max-height: 450px;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

/* User Information Styling */ 
#user-information {
  margin: auto;
  padding: 5px;
}

#welcome-message {
  display: block;
  justify-content: center;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

#start-instructions {
  display: block;
  justify-content: center;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#start-instructions-title {
  text-decoration: underline;
}

/* General Button Styling */

button {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Options and Category Buttons Styling*/

#options-buttons {
  margin-top: 10px;
}

.options-button,
.category-buttons {
  width: 150px;
  height: 60px;
  border-radius: 5%;
  border-color: #264653;
}

.options-button:hover,
.category-buttons:hover {
  background-color: #264653;
  border: none;
  color: white;
}

.category-buttons {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Game Menu Styling*/

#game-menu {
  justify-content: center;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#return-to-start {
  padding-right: 20px;
}

/* Modal Styling */
/* Opening the Modal Span */
#open-instructions {
  padding-left: 20px;
}

/* Modal Background */
#instructions-modal {
  display: none;
  position: fixed;
  right: 10%;
  left: 1%;
  z-index: 1;
  width: 80vw;
  height: 60vh;
  max-height: 450px;
  max-width: 830px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
  background-color: rgba(38, 70, 83, 0.8);
  color: white;
}

/* Modal Content / Box */
#instructions-modal-content {
  margin: 10% auto;
  padding: 5px;
  border: 1px solid #888;
  width: 60%;
  height: 50vh;
  text-align: left;
  font-size: smaller;
}

/* Closing the Modal Span */
#close-instructions {
  color: #aaa;
  float: right;
}

/* Question Box Styling */
#question-box {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 200px;
  background-color: #264653;
  /*rgba(38, 70, 83, 0.8)*/
  color: white;

}

#question-synonym {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

#synonym-description {
  font-style: italic;
}

/* Styling for Area with Answer Buttons*/
#game-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

.answer-buttons {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  margin-top: 5%;
  letter-spacing: 0.5px;
  border-color: #F4A261;
}

.answer-buttons:hover {
  background-color: #F4A261;
  font-weight: bold;
}

/*
.correct-answer:active {
  background-color: #2A9D8F;
}
  */
#feedback-box {
  display: block;
  justify-content: center;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
